<p>
  <strong>Name:</strong><%=h @discipline.name %>
</p>
<p>
  <strong>Teacher:</strong><%=h @discipline.teacher %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>

