<h3>Editando Sala</h3>

<%= error_messages_for :classroom %>

<% form_for(:classroom, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Atualizar"%>
  </p>
<% end %>

<br/>

<%= link_to 'Voltar', collection_url %>