<h3>Editando Sala</h3>

<%= error_messages_for :classroom %>

<% form_remote_for(:classroom, :url => object_url, :update => "box_form", :html => { :method => :put }) do |f| %>
  <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= update_button_and_cancel_link_to_clear_box_form %>
  </fieldset>
<% end %>
