<h2>Salas de Aula</h2>

<p><%= link_to image_tag('icons/file_add.png') + " Adicionar", new_object_url %></p>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <%- @classrooms.each do |classroom|%>
    <tr>
      <td><%=h classroom.name %></td>
    
      <td><%=link_to image_tag('icons/file_edit.png'), edit_object_url(classroom) %></td>
      <td><%=link_to image_tag('icons/file_delete.png'), object_url(classroom), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
