.calendar {
    font: .6em Arial, Helvetica, sans-serif;
}

.calendar tr.lesson td div {
    /*width: 100px;
    height: 100px; */
    white-space: nowrap; 
    overflow: hidden;
}

.calendar tr.lesson td div.empty {
    background-color: #666;
}

.calendar tr.lesson td div span {
    padding: 2px;
    display: block;
}


#box_form form fieldset div input {
    float: left;
}

#box_form form fieldset .inner_multiple_select {
    display: table;
}

#box_form form fieldset .outer_multiple_select {
}
