<label class="large"><%=_ 'Name' %>
  <%= f.text_field :name, :class => "textfield" %>
</label>
<br/>
<label class="large"><%=_ 'Course' %>
  <%= f.collection_select :course_id, Course.find(:all), :id, :name, {}, :class => "select" %>
</label>
<br/>