<label class="small"><%=_ 'Name' %>
  <%= f.text_field :name, :class => "textfield" %>
</label>

<label class="x-small"><%=_ 'Color' %>
  <%= f.text_field :color, :class => "textfield" %>
</label>

<script type="text/javascript">
// <![CDATA[
  new Control.ColorPicker("course_color", { IMAGE_BASE : "images/colorpicker/" });
// ]]>
</script>
<br/>